<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BudgetSystemConnection"
             connectionString="Server=localhost;Database=SteenBudgetSystem;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>